NODE_ENV=

DATABASE_PORT_TEST=
DATABASE_HOST_TEST=
DATABASE_USER_TEST=
DATABASE_PASSWORD_TEST=

DB_JOB_PORT_TEST=
DB_JOB_HOST_TEST=
DB_JOB_USER_NAME_TEST=
DB_JOB_PASSWORD_TEST=

DB_LOGS_PORT_TEST=
DB_LOGS_HOST_TEST=
DB_LOGS_USER_NAME_TEST=
DB_LOGS_PASSWORD_TEST=

DATABASE_PORT_DEV=
DATABASE_HOST_DEV=
DATABASE_USER_DEV=
DATABASE_PASSWORD_DEV=

DB_JOB_PORT_DEV=
DB_JOB_HOST_DEV=
DB_JOB_USER_NAME_DEV=
DB_JOB_PASSWORD_DEV=

DB_LOGS_PORT_DEV=
DB_LOGS_HOST_DEV=
DB_LOGS_USER_NAME_DEV=
DB_LOGS_PASSWORD_DEV=

MAIL_PORT=
MAIL_HOST=
MAIL_PASSWORD=
MAIL_USERNAME=
MAIL_FROM=